<%= form_for @expense do |f| %>
 
  <p>
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor %>
  </p>
  
  <p>
    <%= f.label :billnumber %><br>
    <%= f.text_field :billnumber %>
  </p>

  <p>
    <%= f.label :expensedate %><br>
    <%= f.date_field :expensedate %>
  </p>

  <p>
    <%= f.label :amount %><br>
    <%= f.text_area :amount %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :tag %><br>
    <%= f.text_area :tag %>
  </p>

  <p>
    <%= f.label :isbillable %><br>
    <%= f.text_area :isbillable %>
  </p>

  <p>
    <%= f.label :project %><br />
    <%= f.collection_select :project_id, Project.all, :id, :title, :prompt => "Select a project" %>
  </p>

  <p>
    <%= f.label :currency %><br />
    <%= f.collection_select :currency_id, Currency.all, :id, :title, :prompt => "Select a currency" %>
  </p>

  <p>
    <%= f.label :expensetype %><br>
    <%= f.collection_select :expensetype_id, Expensetype.all, :id, :title, :prompt => "Select a type" %>
  </p>

<% if current_user.is? :admin%>
    <p>
      <%= f.label :user %><br>
      <%= f.collection_select :user_id, User.all, :id, :name, :prompt => "Select a user" %><br>

      <%= f.label :expensestatus %><br>
      <%= f.collection_select :expensestatus_id, Expensestatus.all, :id, :title, :prompt => "Select a status" %>
    </p>
<% end %>
<% if current_user.is? :default%>
    <p>
      <%= f.label :user %><br>
       <%= current_user.name %><br>

      <%= f.label :expensestatus %><br>
       <%= Expensestatus.first.title %>
    </p>
<% end %>

  <br>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>