
<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:user, "Requester : ") %>
        <%= @expense.user.name %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:vendor, "Vendor : ") %>
        <%= @expense.vendor %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:expensedate, "Expense date : ") %>
        <%= @expense.expensedate %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:billnumber, "Bill Number : ") %>
        <%= @expense.billnumber %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:currency, "Currency : ") %>
        <%= @expense.currency.title %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:amount, "Amount : ") %>
        <%= @expense.amount %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:isbillable, "isBillable : ") %>
        <%= @expense.isbillable %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:project, "Project : ") %>
        <%= @expense.project.title %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:expensetype, "Expense Category : ") %>
        <%= @expense.expensetype.title %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:description, "Description : ") %>
        <%= @expense.description %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:tag, "Tag : ") %>
        <%= @expense.tag %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <%= label(:expensestatus, "Status : ") %>
        <%= @expense.expensestatus.title %>
     </div>
</div>

<div class = "row">
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
         <%= link_to 'Close', expenses_path,  :class => "btn btn-danger pull-right" %>
     </div>
</div>


 
