<div class ="row main_box">
<div class = "col-lg-2 col-md-2 app_panel">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading test">Filters</div>
    <div class="panel-body">
      <%= render 'filter' %>

    </div>
  </div>
</div>
<div class = "col-lg-10 col-md-10 app_panel">
  <div class="panel panel-default">
  <div class="panel-heading">Expenses</div>
  <div class="panel-body">
    <%= link_to 'New Expense', new_expense_path, :class => "btn btn-primary" %>
  </div>

  <table class="table sortable">
    <tr>
      <th>Number</th>  
      <th>Vendor</th>
      <th>Bill Number</th>
      <th>Bill Date</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Tags</th>
      <th>User</th>
      <th>Billable</th>
      <th>Project</th>
      <th>Status</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
   
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to '#', expense_path(expense) %><%= link_to expense.id, expense_path(expense) %></td>
        <td><%= expense.vendor %></td>
        <td><%= expense.billnumber %></td>
        <td><%= expense.expensedate %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.currency.title %></td>
        <td><%= expense.description %></td>
        <td><%= expense.tag %></td>
        <td><%= expense.user.name %></td>
        <td><%= expense.isbillable %></td>
        <td><%= expense.project.title %></td>
        <td><%= expense.expensestatus.title %></td>
        <td><%= expense.expensetype.title %></td>
        <td>
          <% if ((expense.expensestatus==Expensestatus.first)||(current_user.is? :admin))%>
            <%= link_to 'Edit', edit_expense_path(expense) %>
          <%end%>
        </td>
        <td>
           <% if ((expense.expensestatus==Expensestatus.first)||(current_user.is? :admin))%>
              <%= link_to 'Delete', expense_path(expense),method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
        </td>

      </tr>
    <% end %>
  </table>
  <div class="pull-right">
    <%= will_paginate @expenses, renderer: BootstrapPagination::Rails %>
  </div>

</div>
</div>
</div>

  


