<h1>Expenses</h1>
<%= link_to 'New Expense', new_expense_path %>
<table>
  <tr>
    <th>Vendor</th>
    <th>amount</th>
    <th>Description</th>
    <th>tag</th>
    <th>user</th>
    <th>project</th>
    <th>expensestatus</th>
    <th>expensetype</th>
    <th colspan="3"></th>
  </tr>
 
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.vendor %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.description %></td>
      <td><%= expense.tag %></td>
      <td><%= expense.user.name %></td>
      <td><%= expense.project.title %></td>
      <td><%= expense.expensestatus.title %></td>
      <td><%= expense.expensetype.title %></td>
      <td><%= link_to 'Show', expense_path(expense) %></td>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy', expense_path(expense),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>