<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Expenses</div>
  <div class="panel-body">
    Some description
  </div>

  <table class="table sortable">
    <tr>
      <th>Number</th>  
      <th>Vendor</th>
      <th>Bill Number</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Tags</th>
      <th>User</th>
      <th>Billable</th>
      <th>Project</th>
      <th>Status</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
   
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to '#', expense_path(expense) %><%= link_to expense.id, expense_path(expense) %></td>
        <td><%= expense.vendor %></td>
        <td><%= expense.billnumber %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.currency.title %></td>
        <td><%= expense.description %></td>
        <td><%= expense.tag %></td>
        <td><%= expense.user.name %></td>
        <td><%= expense.isbillable %></td>
        <td><%= expense.project.title %></td>
        <td><%= expense.expensestatus.title %></td>
        <td><%= expense.expensetype.title %></td>
      
        <td>
          <%= link_to 'New', new_expense_path %>
        </td>
        <td>
          <% if ((expense.expensestatus==Expensestatus.first)||(current_user.is? :admin))%>
            <%= link_to 'Edit', edit_expense_path(expense) %>
          <%end%>
        </td>
        <td>
           <% if ((expense.expensestatus==Expensestatus.first)||(current_user.is? :admin))%>
              <%= link_to 'Delete', expense_path(expense),method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
        </td>

      </tr>
    <% end %>
  </table>
</div>