<html>
  <head>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Prabandhak</a>

            <p class="navbar-text navbar-right">
                <% if current_user %>
                  Signed in as
                  <% if current_user.is? :admin%>
                    <strong>Admin : </strong>
                  <%end%>

                  <strong><%= current_user.name %></strong>!
                  <%= link_to "Sign out", signout_path, id: "sign_out" %>
                <% else %>
                  <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
                <% end %>
            </p>
          </div>
        </div>
      </nav>

    <div>
      <%= yield %>
    </div>
  </body>
</html>